doctype html
html(lang='zh-cn')
  head
    meta(charset='UTF-8')
    |     
    title Dark Theme #3 | Script tutorials
    // Linking styles
    link(rel='stylesheet', href='css/style.css', type='text/css', media='screen')
    |     
    link(rel='stylesheet', href='css/menu.css', type='text/css', media='screen')
    |     
    link(rel='stylesheet', href='css/meteor-slides.css', type='text/css', media='screen')
    //if IE 7
      style.
        .promo_area {padding:0;}
        .promo_area .meteor-nav .prev a {top:236px;}
        .promo_area .meteor-nav .next a {top:236px;}
    // Linking scripts
    script(src='js/jquery.js', type='text/javascript')
    |     
    script(src='js/jquery.cycle.all.js', type='text/javascript')
    |     
    script(src='js/script.js', type='text/javascript')
    |     
    script(src='js/slideshow.js', type='text/javascript')
  body
    .top
    |     
    .mid
    |     
    .bottom
    // Defining the header section of the page
    header
      .marg
        .header
          .logo
            a(href='#', title='Dark Theme #3') Dark Theme #3
          |             
          .nav
            // Defining the navigation menu
            ul
              li.current
                a(href='#/')
                  span.l
                  span.m Home
                  span.r
              |                     
              li
                a(href='#/')
                  span.l
                  span.m Tutorials
                  span.r
                |                         
                ul.sub-menu
                  li
                    a(href='#/category/html-css/') HTML / CSS
                  |                             
                  li
                    a(href='#/category/jquery/') JS / jQuery
                  |                             
                  li
                    a(href='#/category/php/') PHP
                  |                             
                  li
                    a(href='#/category/mysql/') MySQL
                  |                             
                  li
                    a(href='#/category/xslt/') XSLT
                  |                             
                  li
                    a(href='#/category/ajax/') Ajax
              |                     
              li
                a(href='#/tag/html5/')
                  span.l
                  span.m Tags
                  span.r
                |                         
                ul.sub-menu
                  li
                    a(href='#/tag/animation/') animation
                  |                             
                  li
                    a(href='#/tag/html5/') html5
                  |                             
                  li
                    a(href='#/tag/captcha/') captcha
                  |                             
                  li
                    a(href='#/tag/gallery/') gallery
                  |                             
                  li
                    a(href='#/tag/animation/') animation
              |                     
              li
                a(href='#/creating-nice-clean-html-css-website-layout-3-dark-theme/')
                  span.l
                  span.m Back
                  span.r
            |                 
            .clear
    // Defining the main content section of the page
    .content
      // Defining the promo(slider) section of the page
      .promo_area
        .meteor-slides.navprevnext
          ul.meteor-nav
            li.prev
              a(href='#') Previous
            |                     
            li.next
              a(href='#') Next
          |                 
          .promo_wrap
            .slides
              .slide
                a(href='#', title='promo1')
                  img(src='images/promo/p1.jpg', alt='promo1', title='promo1')
                |                             
                .title
                  p
                    a(href='#', title='promo1') promo 1 text
              |                         
              .slide
                a(href='#', title='promo2')
                  img(src='images/promo/p2.jpg', alt='promo2', title='promo2')
                |                             
                .title
                  p
                    a(href='#', title='promo2') promo 2 text
              |                         
              .slide
                a(href='#', title='promo3')
                  img(src='images/promo/p3.jpg', alt='promo3', title='promo3')
                |                             
                .title
                  p
                    a(href='#', title='promo3') promo 3 text
      |         
      .copyrights
        | Collect from 
        a(href='http://www.cssmoban.com/') Website Template
      // Rest content of main area
      .marg.main
        .con
          .con_t
          |                 
          .con_bg
            .con_wrap
              // column #1
              .block
                .btitle About us
                |                             
                div
                  img(src='images/about_us.jpg', alt='About us', title='About us')
                |                             
                .bcon
                  div
                    | About us - description, about us - description, about us - description
                    a.continue(href='#') continue
              // column #2
              .block
                .btitle Recent popular
                |                             
                .post
                  .head
                    span 06-20-2011
                    |  
                    span.s |
                    |  
                    span
                      a(href='#')
                        b 1
                        |  
                        span comment
                  |                                 
                  h3.title
                    a(href='#/how-to-create-water-drops-effect-using-html5-canvas/') How to create water Ripple effect using HTML5 canvas
                  |                                 
                  .con
                    p
                      | Today we continue JavaScript examples, and our article will about using javascript in modeling of water effects. This will emulation of water drops at images. 
                      a.continue(href='#/how-to-create-water-drops-effect-using-html5-canvas/') Continue
                |                             
                .post
                  .head
                    span 06-20-2011
                    |  
                    span.s |
                    |  
                    span
                      a(href='#')
                        b 1
                        |  
                        span comment
                  |                                 
                  h3.title
                    a(href='#/flare-lens/') Cross-browser flare lens effect using javascrip
                  |                                 
                  .con
                    p
                      | Today&grave;s lesson pretty entertaining, we&grave;ll learn how to make a flare lens effect. I hope you know what it is, but if not - just look our online demo. To achieve this effect, we need several images - lenses. 
                      a.continue(href='#/flare-lens/') Continue
              // column #3
              .block
                .btitle All posts
                |                             
                ul.snews
                  li
                    a(href='#')
                      .img
                        img(src='images/tutorial.png', alt='', title='')
                      |                                         
                      .con
                        p Short description text #1
                    |                                     
                    br.clear
                  |                                 
                  li
                    a(href='#')
                      .img
                        img(src='images/tutorial.png', alt='', title='')
                      |                                     
                      .con
                        p Short description text #2
                    |                                     
                    br.clear
                  |                                 
                  li
                    a(href='#')
                      .img
                        img(src='images/tutorial.png', alt='', title='')
                      |                                     
                      .con
                        p Short description text #3
                    |                                     
                    br.clear
                  |                                 
                  li
                    a(href='#')
                      .img
                        img(src='images/tutorial.png', alt='', title='')
                      |                                     
                      .con
                        p Short description text #4
                    |                                     
                    br.clear
                  |                                 
                  li
                    a(href='#')
                      .img
                        img(src='images/tutorial.png', alt='', title='')
                      |                                     
                      .con
                        p Short description text #5
                    |                                     
                    br.clear
              |                         
              .clear
          |                 
          .con_b
    |     
    footer
      // Defining the footer section of the page
      .footer
        .footer_wrap
          .wcont
            h3.title LinkBlock#1
            |                 
            ul
              li
                a(href='#', title='link 1') Link #1
              |                     
              li
                a(href='#', title='link 2') Link #2
              |                     
              li
                a(href='#', title='link 3') Link #3
              |                     
              li
                a(href='#', title='link 4') Link #4
              |                     
              li
                a(href='#', title='link 5') Link #5
          |             
          .wcont
            h3.title LinkBlock#2
            |                 
            ul
              li
                a(href='#', title='link 1') Link #1
              |                     
              li
                a(href='#', title='link 2') Link #2
              |                     
              li
                a(href='#', title='link 3') Link #3
              |                     
              li
                a(href='#', title='link 4') Link #4
              |                     
              li
                a(href='#', title='link 5') Link #5
          |             
          .wcont
            h3.title LinkBlock#3
            |                 
            ul
              li
                a(href='#', title='link 1') Link #1
              |                     
              li
                a(href='#', title='link 2') Link #2
              |                     
              li
                a(href='#', title='link 3') Link #3
              |                     
              li
                a(href='#', title='link 4') Link #4
              |                     
              li
                a(href='#', title='link 5') Link #5
          |             
          .clear
      |     
      .foot
        .foot_wrap
          | Dark Theme #3 &copy; 2011 | 
          a(href='#') Privacy
          |  - Collect from 
          a(href='http://www.cssmoban.com/', title='网页模板', target='_blank') &#x7F51;&#x9875;&#x6A21;&#x677F;
